.title {
  font-weight: 900;
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.password-input {
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.requirement {
  display: flex;
  height: 2.6rem;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}

.requirement span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
}

.requirement.valid span {
  background-color: #22c55e;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.7;
}

.requirement.invalid span {
  background-color: #ef4444;
  font-weight: 900;
  line-height: 2;
}
